<div class="produto">
    <img src="{{imagem}}" alt="{{nome}}">
    <h3>{{nome}}</h3>
    <p class="preco">R$ {{preco}}</p>
    <p class="descricao">{{descricao}}</p>
    <div class="quantidade">
      <button class="menos">-</button>
      <span>1</span>
      <button class="mais">+</button>
    </div>
    <button class="btn-carrinho">Adicionar ao carrinho</button>
</div>
